server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      routes:
        # File Service Routes
        - id: file-service
          uri: lb://file-service
          predicates:
            - Path=/api/v1/files/**
          filters:
            - StripPrefix=0
        
        # Metadata Service Routes
        - id: metadata-service
          uri: lb://metadata-service
          predicates:
            - Path=/api/v1/metadata/**
          filters:
            - StripPrefix=0
        
        # Search Service Routes
        - id: search-service
          uri: lb://search-service
          predicates:
            - Path=/api/v1/search/**
          filters:
            - StripPrefix=0
        
        # Activity Service Routes
        - id: activity-service
          uri: lb://activity-service
          predicates:
            - Path=/api/v1/activities/**
          filters:
            - StripPrefix=0
      
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
  
  # Redis Configuration
  data:
    redis:
      host: localhost
      port: 6379

# Management Endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

# Logging
logging:
  level:
    root: INFO
    com.gnexdrive: DEBUG
    org.springframework.cloud.gateway: DEBUG
